﻿<div class="container">
    <div class="masthead">
        <h3 class="text-muted" id="homeLink">@Html.ActionLink("Gerrit Like ShipIT", "Index", "Home")</h3>
        <nav class="navbar navbar-default" role="navigation" id="topmenu">
            <ul class="nav navbar-nav nav-justified" role="navigation">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "active" })</li>
                <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Top Comments", "Index", "TopComments", new { area = "" }, null)</li>
            </ul>
        </nav>
    </div>
</div>
