﻿@using PagedList.Mvc
@model ShipIt.Models.VotedCommentDetailsModel

@{
    int voteIndex = 1;
    int likersCount = Model.Votes.Count();
    var defaultPageSize = @ViewBag.ItemsPerPage;
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="info center-block">
    <fieldset>
        <legend>VotedCommentDetailsModel</legend>
        <hr />
        <div>
            @*           
            <div class="custom_label">
                @Html.DisplayNameFor(model => model.CommentAuthor)
            </div>
            *@
            <div class="uneditable-textarea custom_textarea">
                <b><a href="@Model.CommentUrl">@Html.DisplayFor(model => model.CommentAuthor.Name)</a></b>
            </div>

            <div class="custom_label">
                @Html.DisplayNameFor(model => model.CommentContent)
            </div>
            <div class="uneditable-textarea custom_textarea">
                <b>@Html.DisplayFor(model => model.CommentContent)</b>
            </div>
        </div>
        <hr />

        @if (likersCount == 1)
        {
            <h3>One person liked this comment</h3>
        }
        else
        {
            <h3>@likersCount people liked this comment</h3>
        }
        <div class="table-responsive center-block comments_table" id="custom_details_table">
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>When</th>
                    <th>Fan</th>
                </tr>
                @foreach (var vote in Model.Votes)
                {
                    <tr>
                        <td>@voteIndex</td>
                        <td>@vote.Timestamp.ToShortDateString()</td>
                        <td>@vote.FanName</td>
                    </tr>
                    voteIndex++;
                }
            </table>

            <div class="col-sm-10">
                <div class="center">
                    @Html.PagedListPager(Model.Votes, page => Url.Action("Details", new { commentId = Model.CommentId, page, pageSize = 3 }))
                </div>
            </div>

        </div>
    </fieldset>

</div>
