﻿@using PagedList.Mvc
@using ShipIt.Helpers
@model PagedList.IPagedList<ShipIt.Models.VotedCommentModel>
@{
    var index = 1;
    var defaultPageSize = @ViewBag.ItemsPerPage;
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="table-responsive">
    <table id="comments_table" class="table table-striped comments_table">
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Author<i class="icon-filter editable editable-click editable-empty custom_icon_filter"></i></th>
            <th>Comment<i class="icon-filter editable editable-click editable-empty custom_icon_filter"></i></th>
            <th>Likes<i class="icon-filter editable editable-click editable-empty custom_icon_filter"></i></th>
            <th>Details</th>
        </tr>
        @foreach (var comment in Model)
        {
            <tr>
                <td>@index</td>
                <td>@comment.CommentDate</td>
                <td data-original-title="@Html.TextResizerHtmlHelper(@comment.CommentUrl, 40)" data-container="body" data-toggle="tooltip" data-placement="bottom" title=""><a href="@comment.CommentUrl">@comment.AuthorName</a></td>
                <td id="comments_content_table_data" data-original-title="@comment.CommentContent" data-container="body" data-toggle="tooltip" data-placement="bottom" title="">@Html.TextResizerHtmlHelper(@comment.CommentContent)</td>
                <td>@comment.CommentLikesCount</td>
                <td><button class="button_link btn btn-info btn-sm" id="comments_details_button_@comment.CommentId" commentId="@comment.CommentId">Details</button></td>
            </tr>
            index++;
        }
    </table>
    <div class="col-sm-10" id="main_table_paging_container">
        <div class="center">
            @Html.PagedListPager(Model, page => Url.Action("IndexAsync", new { page })@*, PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly,
                                                                                            new AjaxOptions
                                                                                            {
                                                                                                InsertionMode = InsertionMode.Replace,
                                                                                                HttpMethod = "Get",
                                                                                                UpdateTargetId = "comments_table_section"
                                                                                            })*@)
        </div>
    </div>
    
</div>
