﻿@model PagedList.IPagedList<ShipIt.Models.VotedCommentModel>

@{
    ViewBag.Title = "TopComments";
    int index = 1;
}
@section scripts
{
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/customHelpers.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/tooltipHelpers.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/pagingHelper.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/searchHelper.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/filterable/filterable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/filterable/filterable-utils.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/filterable/filterable-cell.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/filterable/filterable-row.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/filterable/bootstrap-editable.min.js")"></script>
}


<h2>Enjoy responsibly</h2>
<hr/>
<div id="header_container">
    <h2><b>The Gerrit comments Hall of Fame!</b></h2>

    <div class="col-sm-5 pull-right help_btn_container">
        <button type="button" id="help_btn_link" class="btn btn-warning help_btn" aria-hidden="true">Help me install Like Extension</button>
    </div>
</div>
<hr/>
<div id="filter_container">
    
    <div id="comments_filter" class="btn-group">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-filter"></i>
            Filter By
            <span class="caret"></span>
            (Last Month)
        </a>
        <ul id="comments_filter_list" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li>
                <a class="comments_filter_list_elem" href="#allTime">All Time</a>
            </li>
            <li>
                <a class="comments_filter_list_elem" href="#lastWeek">Last Week</a>
            </li>
            <li>
                <a class="comments_filter_list_elem" href="#lastMonth">Last Month</a>
            </li>
            <li>
                <a class="comments_filter_list_elem" href="#lastSixMonths">Last Six Months</a>
            </li>
        </ul>
    </div>    

    <div class="col-sm-3 col-md-3 pull-right">
        <form action="/TopComments/FilterByQueryString" method="get" class="navbar-form" id="navbar_search_form" role="search">
            <div class="input-group" id="navbar_search_container">
                <input type="text" class="form-control" title="Go on, try a search" placeholder="Search by author, comment..." name="queryString">
                <div class="search_btn input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="icon-search"></i></button>
                </div>
            </div>
        </form>
    </div>

</div>


<div id="comments_table_section">
    @{
        Html.RenderPartial("~/Views/TopComments/_TopCommentsTable.cshtml", Model);
    }
</div>

<br/>
<div data-target="#details_modal" id="comments_details_section" title="Details" class="modal fade modal-lg" role="dialog" aria-labelledby="" tabindex="-1" style="display: none" data-url="@Url.Action("Details", "TopComments")">
    <div class="modal-dialog modal-dialog-center" id="comments_modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="modal-title" id="modal_title_label">Gerrit Hero</h1>
            </div>
            <div class="modal-body" id="details_data_container">
                Some Static Data For Now...
            </div>
            <div class="modal-footer">
                <button id="close_modal_btn" type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Okay</button>
            </div>
        </div>
    </div>
</div>

<div data-target="#help_modal" id="help_install_extension_section" title="Help" class="modal fade modal-lg" role="dialog" aria-labelledby="" tabindex="-1" style="display: none">
    <div class="modal-dialog modal-dialog-center" id="install_extension_tutorial_modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="modal-title" id="modal_title_label">Installing Like Chrome Extension</h1>
            </div>
            <div class="modal-body" id="help_data_container">
                
                <div class="message-content">
                    <p>Gerrit-Like is a&nbsp;<u>Chrome extension</u>&nbsp;(we're looking for people to help us port it to the idyllic &amp; serene world of Firefox users) with 2 ways of getting it to work<br><br></p>
                    <div class="aui-message success shadowed information-macro">
                        <div class="message-content">
                            <h2 id="GerritLike-AChromeextensionformakingGerritmoresociable-1.The&quot;Userfriendly&quot;route">1.&nbsp;The "User friendly" route</h2><ol><li>Install it from the Chrome Web Store:<br><a href="https://chrome.google.com/webstore/detail/gerrit-like-ullink/fgmcipomldknehofpjkoiooidlokhjol/related?hl=en-US&amp;gl=FR" class="external-link">https://chrome.google.com/webstore/detail/gerrit-like-ullink/fgmcipomldknehofpjkoiooidlokhjol/related?hl=en-US&amp;gl=FR</a></li></ol>
                        </div>
                    </div>
                    <h2 id="GerritLike-AChromeextensionformakingGerritmoresociable-1.The&quot;Developermode&quot;route">1. The "Developer mode" route</h2><ol style="margin-left: 30.0px;"><li>Download the <em><strong><a href="http://confluence.ullink.lan/download/attachments/136577678/extension.crx?version=1&modificationDate=1422629382000&api=v2">.crx</a></strong></em> file and unpack the extension using your favorite decompresser. Take note of the directory where you placed it.<ol><li><span>Open&nbsp;</span><em><strong>Chrome &gt; Settings &gt; Extensions</strong></em><span>, check the "Developer Mode" checkbox atop of the Extensions page</span></li></ol></li><li>Click "<strong>Load unpacked extension...</strong>"</li><li>Search trough your directory tree for the directory where you unpacked your extension and click OK.<br>If your extension is called "my extension" then select "my extension" directory.</li></ol><p><strong>Advantages</strong>: You don't have to install anything else. <br><strong style="line-height: 1.4285715;">Disadvantages</strong><span style="line-height: 1.4285715;">: Chrome nags you to disable the extension each start up. For further details, please visit our <a href="http://confluence.ullink.lan/display/~mpantea/Gerrit+Like+-+A+Chrome+extension+for+making+Gerrit+more+sociable">Confluence page</a></span></p>
                </div>
        
            </div>
            <div class="modal-footer">
                <button id="close_modal_btn" type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Okay</button>
            </div>
        </div>
    </div>
</div>
