﻿body {
    padding-top: 8px;
}

.footer_paragraph {
    text-align: center;
    margin-top: 35px;
    font-size: medium;
}

.button_link {
    background-color: #ABB5BA;
    border-radius: 3px;
    border: 2px solid #cccccc;
    text-decoration: none;
    color: #eeeeee;
    font-weight: bold;
}

    .button_link:hover {
        background-color: #19556F;
        border-radius: 3px;
        border: 2px solid #cccccc;
        text-decoration: none;
        color: #eeeeee;
        font-weight: bold;
    }

    .button_link:active {
        background-color: #0085be;
        border-radius: 3px;
        border: 2px solid #cccccc;
        text-decoration: none;
        color: #eeeeee;
        font-weight: bold;
    }

#comments_details_section {
    text-align: center;
    font-size: 1em;
}

.modal-dialog-center {
    margin-top: 10%;
}

.custom_label {
    background-color: inherit;
    color: #0085be;
    font-size: 1.3em;
    margin-top: 15px;
    padding: 2px;
    font-weight: 500;
}

.custom_textarea {
    background-color: #0085be;
    color: #eeeeee;
    border: 2px solid #eeeeee;
    border-radius: 14px;
    padding: 5px;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.custom_textarea a {
    color: #eeeeee;
}

.tooltip.right .tooltip-arrow{
	top: 5%;
	margin-top: 0px;
}

.tooltip.top .tooltip-arrow{
	left: 6%;
   	bottom:1px;
}

#custom_details_table {
    border: 2px solid #eeeeee;
    font-size: 1.1em;
}

    #custom_details_table table tr th {
        text-align: center;
    }

    #custom_details_table table tr td {
        text-align: center;
    }

#comments_modal {
    margin-top: 0px;
    height: 700px;
}

#comments_content_table_data {
    cursor: context-menu;
}

.comments_table {
    cursor: context-menu;
}

#details_data_container {
    max-height: 550px;
    overflow: auto;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: transparent;
}

    .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
    }

#homeLink {
    text-decoration: none;
    margin-bottom: 5px;
    font-size: medium;
}

#comments_filter {
    margin-top: 10px;
    margin-bottom: 3px;
    background-color: #eeeeee;
    border: 2px solid #ccc;
    border-radius: 5px;
}

    #comments_filter a {
        text-decoration: none;
        font-weight: bold;
        color: #0085be;
    }

#comments_filter_list li a {
    padding: 3px;
    color: #777777;
}

.comments_filter_list_elem {
    margin-left: 4px;
}

.table-striped {
    font-weight: 600;
}


.table-striped tr a {
    color: #eeeeee;
}

.table-striped tr:nth-child(even) a:not(.button_link) {
    color: #0085be;
}

#modal_title_label {
    color: #0085be;
    font-weight: 600;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
    background-color: #eee;
    border-radius: 1px;
    border: 1px solid #ccc;
    width: 100%;
}

    .nav-justified ul {
        float: right;
    }

    .nav-justified > li > a {
        font-weight: bold;
        text-align: center;
        background-color: #e5e5e5; /* Old browsers */
        background-repeat: repeat-x; /* Repeat the gradient */
        background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%); /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */
        background-image: -ms-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* IE10+ */
        background-image: -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Opera 11.10+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        background-image: linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */
    }

.table-striped {
    font-size: 1em;
}

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #0085be;
        color: #eeeeee;
    }

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
    background-color: #ddd;
    background-image: none;
    box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}

.nav-justified > li:first-child > a {
    border-radius: 5px 5px 0 0;
}

.nav-justified > li:last-child > a {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
    .nav-justified {
        max-height: 52px;
    }

        .nav-justified > li > a {
            border-left: 1px solid #fff;
            border-right: 1px solid #d5d5d5;
        }

        .nav-justified > li:first-child > a {
            border-left: 0;
            border-radius: 5px 0 0 5px;
        }

        .nav-justified > li:last-child > a {
            border-radius: 0 5px 5px 0;
            border-right: 0;
        }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}
